# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# p2pfs specific ignores
p2pfs
files_to_serve/
peerA_export/
peerB_export/
peerC_export/
*.sock
*.log

# macOS
.DS_Store

# instructions for LLMs
ai/